# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Christmas-2023.iml
/libraries/Maven__org_jetbrains_kotlin_kotlin_script_runtime_1_9_0.xml
/misc.xml
